aiohttp
aiohttp-debugtoolbar
aiohttp-jinja2
aiohttp-security
aiohttp-session
aiomysql
aiopg
aioredis
motor
trafaret
trafaret-config

jupyter

pymysql
pymongo
redis
sqlalchemy

requests
scrapy
bokeh

click
pyyaml
sh

httpie
mycli

